<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{asset('/node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notes</title>
</head>
<body>
    <table class="table">
        {% for note in notes%}
            <tr>
                <td>{{ note }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="alert alert-info">
        <p>le nombre de note {{ notes | length }}</p>
        <p>le maximun {{ max(notes) }}</p>
        <p>le minimum {{ min(notes) }}</p>
    </div>
</body>
</html>